*{
    margin: 0;
    padding: 0;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
}
.title{
    font-size: 2.5rem;
    margin: 2rem 0;
}
.buttons-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem;
    margin: 2rem 0;
}
.button{
    height: 100px;
    width: 100px;
    background-color: rgb(147, 147, 142);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    
}
.hidden {
    display: none;
}
button{
    padding: 1rem 3rem;
    font-size: 1rem;
    cursor: pointer;
}
.status{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

